body,
html {
   height: 100%;
   margin: 0;
}

* {
   box-sizing: border-box;
}

.header {
   background-color: rgb(197, 193, 193);
   grid-column: 1/3;
}

.main {
   background-color: rgb(231, 236, 187);
}

.aside {
   background-color: rgb(154, 224, 135);
}

.footer {
   background-color: rgb(197, 193, 193);
   grid-column: 1/3;
}

.grid__box {
   display: grid;
   height: 100%;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: 100px 1fr 100px;
   text-align: center;
}

.main__inner {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 10px;
   grid-template-rows: 100px 100px;
   padding: 10px;
   margin-top: 500px;
}

.main__one,
.main__two,
.main__three {
   background-color: rgb(243, 218, 30);
   padding: 10px;
}

.main__three {
   grid-column: 1/3;
   margin-top: 10px;
}

.footer {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}

.footer__section {
   background-color: #fff;
   padding: 15px;
   margin: 15px;
}


@media screen and (max-width: 1024px) {
   .main__inner {
      display: flex;
      flex-direction: column;
   }

   .main__one,
   .main__two {
      margin-bottom: 15px;
   }

   .main__three {
      margin-top: 0;
   }

   .footer {
      grid-template-columns: repeat(2, 1fr);
      margin: 5px;
   }

   .footer__section {
      margin: 5px;
   }

   .grid__box {
      grid-template-rows: 100px 1fr auto;
   }
}

@media screen and (max-width: 768px) {
   .grid__box {
      display: flex;
      flex-direction: column;
   }

   .header {
      height: 5vh;
   }

   .main__inner {
      margin-top: 100px;
      max-height: 30vh;
   }

   .aside {
      height: 20vh;
   }

   .footer {
      display: flex;
      flex-direction: column;
      height: auto;
   }
}

@media screen and (max-width: 425px) {
   .footer {
      display: none;
   }

   .main__inner {
      height: 50vh;
   }

   .aside {
      height: 40vh;
   }
}