@font-face {
   font-family: 'Work Sans';
   font-weight: 400;
   src: url(../fonts/WorkSans-Regular.woff) format('woff'), url(../fonts/WorkSans-Regular.woff2) format('woff2');
}

@font-face {
   font-family: 'Work Sans';
   font-weight: 500;
   src: url(../fonts/WorkSans-Medium.woff) format('woff'), url(../fonts/WorkSans-Medium.woff2) format('woff2');
}

@font-face {
   font-family: 'Work Sans';
   font-weight: 600;
   src: url(../fonts/WorkSans-SemiBold.woff) format('woff'), url(../fonts/WorkSans-SemiBold.woff2) format('woff2');
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   cursor: pointer;
}

body {
   font-family: 'Work Sans', sans-serif;
   font-size: 16px;
}

/* header styles */

.header {
   padding: 35px 60px;
   background-color: #fff;
   border-bottom: 1px solid #fff;
   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.10);
   margin-bottom: 17px;
}

.header__container {
   max-width: 1350px;
   margin: 0 auto;
   padding: 0 15px;
}

.header__inner {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
   align-items: center;
}

.header__burger {
   position: relative;
   display: none;
   width: 40px;
   height: 40px;
   border: none;
   background-color: transparent;

}

.header__burger span {
   position: absolute;
   width: 30px;
   height: 3px;
   background-color: #007188;
   left: 5px;
}

.header__burger span:nth-child(1) {
   transform: translateY(-10px);
}

.header__burger span:nth-child(3) {
   transform: translateY(10px);
}

.nav__list {
   display: flex;
   align-items: center;
}

.nav__list-item {
   margin-right: 35px;
}

.nav__list-link {
   text-decoration: none;
   cursor: pointer;
   color: #1D253C;
   font-family: 'Work Sans', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 19.2px;
}

.nav__list-link:hover {
   border-bottom: 1px solid #007188;
   padding-bottom: 5px;
   color: #007188;
}

.header__login {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.login__price {
   padding: 13px 31px;
   border-radius: 4px;
   border: 1px solid rgba(29, 37, 60, 0.20);
   color: #1D253C;
   font-family: 'Work Sans', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 16.8px;
   text-transform: uppercase;
}

.login__link {
   color: #1D253C;
   font-family: 'Work Sans', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 19.2px;
   text-decoration: none;
   border: none;
   background-color: transparent;
}

/* styles for meet section */

.container__meet {
   max-width: 1350px;
   margin: 0 auto;
   padding: 0 15px;
}

.meet__inner {
   display: flex;
   margin-bottom: 60px;
   align-items: center;

}

.meet__inner-img {
   width: 100%;

}

.meet-img {
   width: 100%;
}

.meet__inner-content {
   max-width: 460px;
   margin-top: 196px;
}

.meet__subtitle {
   color: #F46752;
   font-family: 'Work Sans', sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 600;
   line-height: 27px;
   text-transform: uppercase;

}

.meet__title {
   color: #1D253C;
   font-family: 'Work Sans', sans-serif;
   font-size: 64px;
   font-style: normal;
   font-weight: 600;
   line-height: 68px;
   text-transform: capitalize;
   margin-bottom: 26px;
}

.meet__text {
   color: #5A6482;
   font-family: 'Work Sans', sans-serif;
   font-size: 22px;
   font-style: normal;
   font-weight: 500;
   line-height: 33px;
   margin-bottom: 40px;
   max-width: 410px;
}

.meet__price {
   color: #FFF;
   font-family: 'Work Sans', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 600;
   line-height: 19.2px;
   text-transform: uppercase;
   border-radius: 4px;
   border: 1px solid rgba(29, 37, 60, 0.20);
   background: #F46752;
   padding: 21px 60px 21px 29px;
   position: relative;
}

.meet__price::after {
   content: '';
   position: absolute;
   background-image: url('../images/icon/arrow.svg');
   background-repeat: no-repeat;
   background-position: center;
   width: 29px;
   height: 29px;
   right: 15px;
   top: 15px;
}

/* styles for technology section */

.technology {
   margin-bottom: 160px;
   margin-top: 150px;
}

.technology__container,
.rating__container,
.container {
   max-width: 1130px;
   padding: 0 15px;
   margin: 0 auto;
}

.technology__inner {
   display: flex;
   align-items: center;
}

.technology__content {
   max-width: 480px;
   margin-right: 75px;
}

.technology__title,
.rating__title {
   color: #F46752;
   font-family: 'Work Sans', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 16.8px;
   text-transform: uppercase;
   margin-bottom: 27px;
}

.technology__subtitle,
.rating__subtitle {
   color: #1D253C;
   font-family: 'Work Sans', sans-serif;
   font-size: 45px;
   font-style: normal;
   font-weight: 500;
   line-height: 52px;
   margin-bottom: 35px;
}

.technology__text {
   color: #5A6482;
   font-family: 'Work Sans', sans-serif;
   font-size: 19px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   margin-bottom: 15px;
}

.technology__link {
   color: #126F86;
   font-family: 'Work Sans', sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 21.6px;
   position: relative;
}

.technology__link::before {
   position: absolute;
   content: '';
   width: 29px;
   height: 10px;
   right: -35px;
   top: 6px;
   background-color: rgb(55, 216, 37);
   background-image: url('../images/icon/arrow-green.svg');
   background-repeat: no-repeat;
   background-position: center;
}

.technology__img {
   position: relative;
   width: 100%;
}

.technology__img-inner {
   width: 100%;
}

.technology__img::after {
   content: '';
   position: absolute;
   background-image: url('../images/icon/Frame.svg');
   background-repeat: no-repeat;
   left: -42px;
   top: -35px;
   width: 195px;
   height: 124px;
   z-index: -1;
}

/* styles for rating section */

.rating {
   background-color: #F8F8F8;
   padding: 90px 0px 85px;
   position: relative;
}

/* .rating::after {
   position: absolute;
   content: '';
   background-image: url('../images/umbrella.png');
   background-repeat: no-repeat;
   top: -110px;
   left: 600px;
   width: 454px;
   height: 297px;
} */

.rating__top {
   display: grid;
   text-align: center;
   align-items: center;
}

.rating__text {
   color: #5A6482;
   text-align: center;
   font-family: 'Work Sans', sans-serif;
   font-size: 19px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   margin-bottom: 42px;
}

.rating__box {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 70px;
   text-align: center;
   align-items: center;

}

.rating__dog {
   position: relative;
}

/* .rating__dog::before {
   position: absolute;
   content: '';
   width: 184px;
   height: 184px;
   bottom: -30px;
   right: 0px;
   background-image: url('../images/dog.png');
   background-repeat: no-repeat;
} */

.rating__box-item {
   max-width: 320px;
   height: 310px;
   background-color: #fff;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;

}

.rating__box-title {
   color: #1D253C;
   text-align: center;
   font-family: 'Work Sans', sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 26px;
   margin-bottom: 10px;
}

.box__a {
   padding: 70px 45px 70px 63px;
}

.box__family {
   padding: 30px 36px 60px;
}

.box__star {
   padding: 44px 30px;
}


.rating__box-title {
   color: #1D253C;
   text-align: center;
   font-family: 'Work Sans', sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 26px;
}

.rating__box-text {
   color: #5A6482;
   font-family: 'Work Sans', sans-serif;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 25.6px;
}

.img-letter {
   width: 105px;
   height: 70px;
   margin-bottom: 15px;
}

.img-family {
   width: 91px;
   height: 142px;
}

.family__title {
   margin-top: -15px;
}

.grid {
   padding: 160px 0 130px;
}

.grid__item {
   display: grid;
   grid-template-columns: repeat(4, 260px);
   grid-template-rows: 320px;
   column-gap: 20px;
   row-gap: 20px;
   justify-content: center;

}

.grid__items {
   max-width: 270px;
   height: 323px;
   padding: 40px 0 35px 22px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;


}

.grid__title {
   font-family: 'Work Sans', sans-serif;
   font-size: 34px;
   font-style: normal;
   font-weight: 600;
   line-height: 42px;
}

.title-blue {
   color: #7CAFDD;
}

.title-beige {
   color: #E79751;
}

.title-pink {
   color: #FA5240;
}

.title-green {
   color: #126F85;
}

.grid__text {
   width: 230px;
   color: #5A6482;
   font-family: 'Work Sans', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 19.2px;
}

.grid__link {
   font-family: 'Work Sans', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 600;
   line-height: 19.2px;
   cursor: pointer;

}

.grid__link-blue {
   color: #7CAFDD;
   position: relative;
}

.grid__link-blue::after {
   position: absolute;
   content: '';
   width: 26px;
   height: 9px;
   background-image: url('../images/icon/arrow-blue.svg');
   background-repeat: no-repeat;
   background-position: center;
   width: 29px;
   height: 10px;
   right: -35px;
   top: 6px;

}

.grid__link-beige {
   color: #E79751;
   position: relative;
}

.grid__link-beige::after {
   position: absolute;
   content: '';
   width: 26px;
   height: 9px;
   background-image: url('../images/icon/arrow-beige.svg');
   background-repeat: no-repeat;
   background-position: center;
   width: 29px;
   height: 10px;
   right: -35px;
   top: 6px;

}

.grid__link-pink {
   color: #FA5240;
   position: relative;
}

.grid__link-pink::after {
   position: absolute;
   content: '';
   width: 26px;
   height: 9px;
   background-image: url('../images/icon/arrow-pink.svg');
   background-repeat: no-repeat;
   background-position: center;
   width: 29px;
   height: 10px;
   right: -35px;
   top: 5px;
}

.grid__link-green {
   color: #126F85;
   position: relative;
}

.grid__link-green::after {
   position: absolute;
   content: '';
   width: 26px;
   height: 9px;
   background-image: url('../images/icon/arrow-green2.svg');
   background-repeat: no-repeat;
   background-position: center;
   width: 29px;
   height: 10px;
   right: -35px;
   top: 5px;
}

.grid__items-blue {
   background: rgba(169, 216, 255, 0.30);
}

.grid__items-beige {
   background: rgba(255, 174, 104, 0.30);
}

.grid__items-pink {
   background: rgba(250, 82, 64, 0.30);
}

.grid__items-green {
   background: rgba(18, 111, 133, 0.30);
}

/* медия запросы */

@media screen and (max-width: 1400px) {

   .header__container,
   .container__meet,
   .technology__container,
   .rating__container,
   .container {
      max-width: 1000px;
   }

   .header {
      box-shadow: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.10);

   }

   .header__inner {
      grid-template-columns: 1fr 2fr 1fr;
   }

   .meet__title {
      font-size: 50px;
      line-height: 60px;
   }

   .meet__text {
      font-size: 18px;
   }

   .meet-img {
      max-width: 700px;
   }

   .meet__inner-content {
      margin-top: 60px;
   }

   .technology {
      margin-top: 100px;
      margin-bottom: 100px;
   }

   .technology__subtitle {
      font-size: 35px;
      margin-bottom: 20px;
   }

   .rating {
      padding: 60px 0 60px;
   }

   .rating__subtitle {
      font-size: 35px;
   }

   .rating__box {
      column-gap: 40px;

   }

   .rating__box-item {
      width: 280px;
      text-align: center;
   }

   .rating__text {
      margin-bottom: 30px;
   }

   .grid {
      padding: 60px 0 60px;
   }

   .grid__item {
      grid-template-columns: repeat(2, 260px);
      column-gap: 50px;
      row-gap: 50px;
   }

   .rating__box {
      column-gap: 30px;
   }

   .rating__dog::before {
      background-image: none;
   }
}

@media screen and (max-width: 1200px) {
   .login__price {
      padding: 10px 20px;
   }

   .rating::after {
      background-image: none;
   }

   .meet__title {
      font-size: 40px;
      line-height: 45px;
   }

   .meet__subtitle {
      margin-bottom: 10px;
   }

   .meet__price {
      padding: 15px 25px;
      font-size: 12px;
   }

   .meet__price::after {
      display: none;
   }
}

@media screen and (max-width: 1100px) {
   .meet__title {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 20px;
   }

   .meet__text {
      font-size: 18px;
      line-height: 25px;
   }

   .technology {
      margin: 60px 20px;
   }

   .technology__subtitle {
      font-size: 30px;
      line-height: 45px;
      margin-bottom: 15px;
   }

   .technology__title {
      margin-bottom: 15px;
   }

   .rating__title {
      margin-bottom: 15px;
   }

   .rating__subtitle {
      font-size: 30px;
      line-height: 45px;
      margin-bottom: 15px;
   }

   .rating__text {
      max-width: 100%;
   }

   .meet__inner {
      margin-bottom: 50px;
   }
}

@media screen and (max-width: 1000px) {
   .login__price {
      padding: 8px 10px;
      margin-left: 15px;
   }

   .meet__title {
      font-size: 28px;
   }

   .meet__inner {
      justify-content: space-between;
   }

   .technology__subtitle {
      font-size: 26px;
   }

   .technology__text {
      font-size: 16px;
   }

   .technology__content {
      margin-right: 50px;
   }

   .rating__text {
      margin: 0 30px 30px;
   }

   .rating {
      padding: 50px 20px;
   }

   .grid {
      padding: 50px 20px;
   }

   .rating__box {
      row-gap: 35px;
      column-gap: 35px;
      grid-template-columns: 1fr;
      justify-items: center;
   }
}

@media screen and (max-width: 900px) {
   .header__container {
      position: relative;
   }

   .header__burger {
      display: block;
      justify-self: end;
   }

   .nav {
      display: none;
   }

   .header__login {
      display: none;
   }

   .header__inner {
      grid-template-columns: 1fr 1fr;
   }

   .meet__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .meet__inner-content {
      margin: 30px 15px;
   }

   .meet__text {
      margin-bottom: 45px;
      max-width: 100%;
   }

   .technology__content {
      margin-right: 35px;
   }
}

@media screen and (max-width: 740px) {
   .grid__item {
      grid-template-columns: 1fr;
      row-gap: 30px;
      justify-items: center;
   }

   .meet-img {
      display: none;
   }

   .meet__inner {
      margin-bottom: 100px;
   }
}

@media screen and (max-width:600px) {
   .technology__inner {
      flex-direction: column;
      align-items: center;
   }

   .technology__content {
      align-items: center;
      text-align: center;
      margin: 0 0 30px;
   }

   .technology__img-inner {
      width: 100%;
      margin: 0 auto;
   }

   .technology {
      margin-bottom: 40px;
   }

   .meet__inner {
      margin-bottom: 50px;
   }
}

@media screen and (max-width:500px) {
   .technology__content {
      text-align: center;
      margin-right: 0;
      margin-bottom: 50px;
   }

   .rating__subtitle {
      font-size: 26px;
   }

   .rating__text {
      font-size: 16px;
   }

   .meet__inner {
      margin-bottom: 50px;
   }

   .meet__title {
      font-size: 24px;
   }

   .header {
      padding: 25px;
   }
}

@media screen and (max-width:350px) {
   .rating {
      padding: 50px 10px;
   }
}